body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    color: rgb(69, 65, 241);
    font-family: "proxima-soft", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 100px;
    margin: 0px;
}
h2 {
    color: rgb(69, 65, 241);
    font-family: "proxima-soft", sans-serif;
    font-weight: 900;
    font-style: normal;
}
h3 {
    font-size: medium;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(74, 74, 98);
}
p {
    font-size: medium;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(105, 105, 105);
}




.navbar {
    position: fixed;
    
    bottom: 0;
    left: 0;
    height: 96%;
    width: 20%;
    background-color: rgb(71, 82, 100);
    padding-top: .5%;
    flex-direction: column;
    align-items: center;
}




.veryback {
    background-color: rgb(71, 82, 100);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -10000000000000000;
}
.backing {
    position: fixed;
    bottom: 0;
    left: 20%;
    width: 79.5%;
    height: 94.5%;
    background-color: rgb(254, 252, 238);
    border-radius: 5px;
    margin-top: .5%;
    margin-bottom: .5%;
    margin-right: .5%;
    z-index: -1;
}




.navbar a {
    display: block;
    color: white;
    padding: 4%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 3%;
    margin-left: 3%;
    text-decoration: none;
    border-radius: 7px;
    font-size: smaller;
    letter-spacing: .2px;
    border-color: rgba(92, 105, 108, 0);
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.navbar a:hover {
    background-color: rgb(83, 94, 111);
}



.favorites {
    display: flex;
    justify-content: baseline;
    text-align: center;
}



.favoriteblock {
    text-align: center;
    line-height: 200%;
    width: 100%;
    height: 30px;
    background-color: rgb(75, 89, 109);
}
.favoriteblock:hover {
    background-color: rgb(93, 107, 127);
}



.favactive {
    text-align: center;
    line-height: 200%;
    width: 100%;
    height: 30px;
    background-color: rgb(120, 130, 145);
    border-color: rgb(92, 105, 108);
    border-style: solid;
    border-width: 1px;
}
.navbar .favactive:hover {
    background-color: rgb(135, 145, 160);
    border-color: rgb(92, 105, 108);
    border-style: solid;
    border-width: 1px;
}




.active a{
    background-color: rgb(99, 111, 129);
}
.active a:hover {
    background-color: rgb(106, 118, 135);
    border-color: rgb(92, 105, 108);
    border-style: solid;
    border-width: 1px;
}




.main {
    margin-left: 20%;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
}


.topelement {
    position: fixed;
    top: 0;
    display: block;
    color: white;
    height: 2.5%;
    margin-top: .75%;
    text-decoration: none;
    border-radius: 5px;
    font-size: smaller;
    letter-spacing: .2px;
    border-color: rgba(92, 105, 108, 0);
    border-style: solid;
    border-width: 1px;
    z-index: 10000000000000000;
}
.topelement:hover {
    background-color: rgb(83, 94, 111);
}

#arclogo {
    left: 0;
    margin-left: 1%;
    margin-right: .75%;
    padding: 1px;
}
#backarrow {
    left: 19%;
    margin-left: 1%;
    margin-right: .75%;
    padding: 1px;
}
#frontarrow {
    left: 21%;
    margin-left: 1%;
    margin-right: .75%;
    padding: 1px;
}
#reload {
    left: 23%;
    margin-left: 1%;
    margin-right: .75%;
    padding: 1px;
}
#urlbar {
    left: 50%;
    margin-left: 1%;
    margin-right: .75%;
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

/* Favorite inactive: rgb(75, 89, 109) */
/* Favorite inactive hover: rgb(93, 107, 127) */
/* Favorite active: rgb(120, 130, 145) */
/* Favorite active hover: rgb(135, 145, 160) */